
.navbar{
    padding: 0;
    background-color: transparent;
}

.navbar-brand{
    padding-left: 30PX;
}

.navbar-nav .nav-item{
    padding: 0 40px;
}

.carousel-item{
    height: 100vh;
}

.carousel-caption{
    position: absolute;
    top: 25%;
}

.carousel-caption h2{
    color: rgb(45, 45, 45);
}

.Skills img {
    width: 100px;
    height: auto;
  }