
.navbar{
    padding: 0;
    background-color: transparent;
}

.navbar-brand{
    padding-left: 30PX;
}

.navbar-nav .nav-item{
    padding: 0 40px;
}

.carousel-item{
    height: 100vh;
}

.carousel-caption{
    position: absolute;
    top: 25%;
}

.carousel-caption h2{
    color: rgb(45, 45, 45);
}

.Skills h1{
    font-size: 50px;
    color:white;
}

.Skills img {
    width: 100px;
    height: 100px;
}

.parallax{
    background-image: url('img/coding.jpg');
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Project .intro-text a{
    text-decoration: none;
    color: rgb(108, 116, 231);
    font-weight: 700;
}